@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body {
    font-family: 'poppins', sans-serif;
    background-color: #191a2e;
    position: relative;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-shadow: -26px 27px 45px -25px rgb(117, 91, 201, 0.75) inset;
    -webkit-box-shadow: -26px 27px 45px -25px rgb(117, 91, 201, 0.75) inset;
    -moz-box-shadow: -26px 27px 45px -25px rgb(117, 91, 201, 0.75) inset;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../dist/img/background.png); 
    background-size: 100%;
    filter: grayscale(100%);
    z-index: -1;
    opacity: 0.1;
}

@keyframes shine {
    0% {
        transform: translateX(-200%) translateY(-200%) rotate(45deg);
    }
    100% {
        transform: translateX(200%) translateY(200%) rotate(45deg);
    }
}

#profil img {
  @apply lg:w-[400px]
}




.link:hover::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    
    border: 1px solid white;
    background: url(../dist/img/clients1.png) no-repeat center center;
}



.content {
    @apply scale-50 transition-all duration-500 
}

.content.active {
    @apply scale-100
}

.contact-button {
    @apply border-2 border-white;
    width: 10rem;
    height: 28px;
    border-radius: 0 50% 0 50%;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transform: translateY(-200%);
    transition: border-radius 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, transform 1s ease-in-out;
}

/* .slider {
    @apply absolute top-14 max-w-sm  transition-all duration-500 ease-in-out;
    transform: translateX(0);
} */
/* .slider.active {
    transform: translateX(-10%);  
} */

.gridColumn {
    @apply grid grid-cols-subgrid 
}

.contact-button:active {
    transform: scale(0.8); 
}

.contact-button.active {
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}


.gallery-item {
   @apply h-[200px]  z-0 opacity-0 absolute transition-all duration-300 ease-in-out  w-[330px];
}

.gallery-item-1 {
    @apply left-[15%] opacity-40 translate-x-[-50%]
}

.gallery-item-2, .gallery-item-4 {
    @apply w-[380px] opacity-80 h-[250px] z-[1]
}

.gallery-item-2 {
    @apply left-[30%] translate-x-[-50%];
}

.gallery-item-3 {
    @apply h-[300px]  left-[50%] opacity-90 translate-x-[-50%] w-[430px] z-[2]
}

.gallery-item-4 {
    @apply left-[70%] translate-x-[-50%]
}

.gallery-item-5 {
    @apply left-[85%] translate-x-[-50%] opacity-40
}

#social-media-wa {
    @apply translate-y-96 transition-transform duration-1000;
}
#social-media-instagram {
    @apply translate-y-96 transition-transform duration-1000;
}

#social-media-instagram.active  {
    @apply translate-y-0 transition-transform duration-1000;
}

#social-media-wa.active {
    @apply translate-y-0 transition-transform duration-1000;
}

#contact-link {
    @apply translate-y-0 absolute transition-transform duration-1000;
}

#contact-link.anu {
    transform: translateY(-200%);
    transition: transform 1s ease-in-out;
}

.contact-button-transform {
    transform: translateY(0%);
}

.contact-button::before {
    content: '';
    position: absolute;
    top: -10%;
    right: 100px;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(45deg);
    animation: shine 3s infinite linear;
}

#introduce {
    @apply scale-50 transition-transform duration-1000
}

#introduce.active {
    @apply scale-100
}

.title {
    @apply -translate-x-full
}

.statement {
    @apply -translate-x-full
}

.profil-component {
    @apply translate-x-[450px]
}

.profil-image {
    @apply translate-x-[450px]
}

.tranform-profil{
    @apply translate-x-0 transition-transform duration-500 ease-in-out
}

.transform-left {
    @apply -translate-x-80 transition-transform duration-500 ease-in-out
}

.transform-right-title {
    @apply  translate-x-0 transition-transform duration-1000 ease-in-out
}


.shadow-left-right {
    box-shadow: inset -20px 0px 20px -10px rgba(0, 0, 0, 0.5), inset 20px 0px 20px -10px rgba(0, 0, 0, 0.5);
  }

/* .navbar-fixed {
    @apply fixed z-[9999] top-0 left-0 w-full bg-bgGradientpurple opacity-70 transition duration-1000;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0, 1)
    
} */

@layer components {

.humberger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark
    }
}
/* 
#toggle {
    @apply 
} */

.humberger-active > span:nth-child(1){
    @apply  rotate-45;
}

.humberger-active > span:nth-child(2) {
    @apply scale-0;
}

.humberger-active > span:nth-child(3) {
    @apply -rotate-45;
}
